[submodule "backend"]
path = backend
url = https://github.com/TnZzZHlp/ztvrui_backend
branch = main
[submodule "frontend"]
path = frontend
url = https://github.com/TnZzZHlp/ztvrui_frontend
branch = main
